page-title { 
    color: red ;
    font-size: 60px;
}

page-subtitle {
    color:blueviolet;
    font-size: 46px;
}

fisrt-verse { 
    font-size: 35px;
    font-style:italic;
}

second-verse {
    font-size: 35px;
    font-style:italic;
}